{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "worker": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": "webpack.config.js",
      "env": {
        "node": true
      }
    }
  ]
}
